
<div class="siderbar">
    <!-- Widgets -->
    <div class="widgets widgets__search">
        <form action="./">
            <input class="form-control" type="email" placeholder="Type to search...">
            <span class="icon"><i class="fa fa-search"></i></span>
        </form>
    </div>
    <!--/ .Widgets -->
     <!-- Widgets -->
    <div class="widgets widgets__category">
        <h4 class="widgets__heading">Blog Categories</h4>
        <ul class="list-unstyled">
            <li><a href="#">Healthcare <span>(05)</span></a></li>
            <li><a href="">Hospital <span>(03)</span></a></li>
            <li><a href="">Disease <span>(10)</span></a></li>
            <li><a href="">Covid-19 <span>(07)</span></a></li>
        </ul>
    </div>
    <!--/ .Widgets -->
     <!-- Widgets -->
    <div class="widgets">
        <h4 class="widgets__heading mb-5">Recent Post</h4>
        <div class="widgets__recent-post">
            <!-- Single Recent Post -->
            <div class="widgets__recent-post__single">
                <div class="widgets__recent-post__img">
                    <img class="w-100" src="./image/jpg/blog/blog-1.jpg" alt="">
                </div>
                <div class="widgets__recent-post__content">
                    <a href="#" class="widgets__recent-post__title">How to Pick the Best Diet Plan for You</a>
                    <p class="widgets__recent-post__date">July 02, 2020</p>
                </div>
            </div>
            <!--/ .Single Recent Post -->
            <!-- Single Recent Post -->
            <div class="widgets__recent-post__single">
                <div class="widgets__recent-post__img">
                    <img class="w-100" src="./image/jpg/blog/blog-1.jpg" alt="">
                </div>
                <div class="widgets__recent-post__content">
                    <a href="#" class="widgets__recent-post__title">The Most Common Cancers Affecting</a>
                    <p class="widgets__recent-post__date">July 02, 2020</p>
                </div>
            </div>
            <!--/ .Single Recent Post -->
            <!-- Single Recent Post -->
            <div class="widgets__recent-post__single">
                <div class="widgets__recent-post__img">
                    <img class="w-100" src="./image/jpg/blog/blog-1.jpg" alt="">
                </div>
                <div class="widgets__recent-post__content">
                    <a href="#" class="widgets__recent-post__title">10 Essential Facts About Alcohol Abuse</a>
                    <p class="widgets__recent-post__date">July 02, 2020</p>
                </div>
            </div>
            <!--/ .Single Recent Post -->
            <!-- Single Recent Post -->
            <div class="widgets__recent-post__single">
                <div class="widgets__recent-post__img">
                    <img class="w-100" src="./image/jpg/blog/blog-1.jpg" alt="">
                </div>
                <div class="widgets__recent-post__content">
                    <a href="#" class="widgets__recent-post__title">Types  Prevalence of Diabetes</a>
                    <p class="widgets__recent-post__date">July 02, 2020</p>
                </div>
            </div>
            <!--/ .Single Recent Post -->
        </div>
    </div>
    <!--/ .Widgets -->
     <!-- Widgets -->
    <div class="widgets">
        <h4 class="widgets__heading mb-5">Most Popular Post</h4>
        <div class="widgets__populer-post">
            <!-- Single Recent Post -->
            <div class="widgets__populer-post__single">
                <div class="widgets__populer-post__img">
                    <img class="w-100" src="./image/jpg/blog/blog-1.jpg" alt="">
                </div>
                <div class="widgets__populer-post__content">
                    <a href="#" class="widgets__populer-post__title">How to Pick the Best Diet Plan for You</a>
                    <p class="widgets__populer-post__date">July 02, 2020</p>
                </div>
            </div>
            <!--/ .Single Recent Post -->
            <!-- Single Recent Post -->
            <div class="widgets__populer-post__single">
                <div class="widgets__populer-post__img">
                    <img class="w-100" src="./image/jpg/blog/blog-1.jpg" alt="">
                </div>
                <div class="widgets__populer-post__content">
                    <a href="#" class="widgets__populer-post__title">The Most Common Cancers Affecting</a>
                    <p class="widgets__populer-post__date">July 02, 2020</p>
                </div>
            </div>
            <!--/ .Single Recent Post -->
        </div>
    </div>
    <!--/ .Widgets -->
</div>