@use "../abstract" as *;
.section-title-block,
.block-title {
  .pre_heading{
    color: $primary;
    line-height: 1.2083333333;
    letter-spacing: 0.02em;
    font-family: $font-montserrat;
    font-weight: 500;
    margin-bottom: 8px;
    font-size:14px;
    @media (min-width:768px){
      font-size:16px;
    }
    @media(min-width:992px){
        font-size:18px;
    }
    @media (min-width:1200px){
      font-size:20px;
      margin-bottom: 15px;
    }
    @media (min-width:1600px){
      font-size:20px;
    }
  }
  .sub_heading{
    color: $regent-gray;
    line-height: 1.2083333333;
    letter-spacing: 0.02em;
    font-family: $font-montserrat;
    font-weight: 500;
    margin-bottom: 32px;
    font-size:14px;
    @media (min-width:768px){
      font-size:16px;
    }
    @media(min-width:992px){
        font-size:17px;
    }

  }
  .title {
    line-height: 1.35;
    font-size: 30px;
    font-family: $font-montserrat;
    font-weight: 800;
    color: $downriver;
    margin-bottom: 7px;
    @media (min-width:768px) {
      font-size: 36px;
    }
    @media (min-width:992px) {
      font-size: 40px;
    }
  }
  p {
    line-height: 1.75rem;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: $font-opensans;
    font-weight: 400;
    color: $body-color;
    display: block;
    @media (min-width:370px) {
      font-size: 16px;
    }
    @media (min-width:768px) {
      font-size: 17px;
    }
  }
  &.dark-mode-texts {
  color: #fff !important;

  // Ensure all nested text inherits white
  .pre_heading,
  .sub_heading,
  .title,
  p {
    color: #fff !important;
  }
}

}
// Typography
h6, .h6, 
h5, .h5, 
h4, .h4, 
h3, .h3, 
h2, .h2, 
h1, .h1{
  margin-bottom: 10px;
}



p{
  font-family: $font-opensans;
}