{% extends "template.njk" %}

{% from "pages/Common/Breadcrumb.njk" import breadcrumbBlock %}

{% block main %}
  {% include "pages/Common/Header.njk" %}

  {{ breadcrumbBlock(
    title   = "About Us"
  ) }}


{% include "pages/About/About.njk" %}
 {% include "pages/About/ourActivities.njk" %}
 {% include "pages/About/Team.njk" %}
 {% include "pages/About/Cta.njk" %}
{% include "pages/Common/Footer.njk" %}
{% endblock %}