{% extends "template.njk" %}

{% from "pages/Common/Breadcrumb.njk" import breadcrumbBlock %}

{% block main %}
  {% include "pages/Common/Header.njk" %}

  {{ breadcrumbBlock(
    title   = "About Us"
  ) }}


{% include "pages/Common/Footer.njk" %}
{% endblock %}