{% extends "template.njk" %}
{% block main %}
  {% include "pages/Common/Header.njk" %}
  {% include "pages/Home/Hero.njk" %}
  {% include "pages/Home/AboutUs.njk" %}
  {% include "pages/Home/featureCourse.njk" %}
  {% include "pages/Home/ourActivities.njk" %}
  {% include "pages/common/footer.njk" %}
{% endblock %}