{% extends "template.njk" %}

{% from "pages/Common/Breadcrumb.njk" import breadcrumbBlock %}

{% block main %}
{% include "pages/Common/Header.njk" %}

{{ breadcrumbBlock(
title = "Teachers"
) }}




<section class="team pt-100 pb-100">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="team__item">
          <div class="team__item__image">
            <img src="./image/jpg/team/team-1.jpg" alt="team-img">
            <div class="social-profile">
              <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team__item__meta-info">
            <h4 class="team__item__meta-info__name">Amelia Carter</h4>
            <p class="team__item__meta-info__designations">Lead Instructor</p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="team__item">
          <div class="team__item__image">
            <img src="./image/jpg/team/team-2.jpg" alt="team-img">
            <div class="social-profile">
              <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team__item__meta-info">
            <h4 class="team__item__meta-info__name">Sophia Nguyen</h4>
            <p class="team__item__meta-info__designations">Marketing Specialist</p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="team__item">
          <div class="team__item__image">
            <img src="./image/jpg/team/team-3.jpg" alt="team-img">
            <div class="social-profile">
              <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team__item__meta-info">
            <h4 class="team__item__meta-info__name">Isabella Johnson</h4>
            <p class="team__item__meta-info__designations">Creative Designer</p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="team__item">
          <div class="team__item__image">
            <img src="./image/jpg/team/team-4.jpg" alt="team-img">
            <div class="social-profile">
              <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team__item__meta-info">
            <h4 class="team__item__meta-info__name">Olivia Patel</h4>
            <p class="team__item__meta-info__designations">Program Coordinator</p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="team__item">
          <div class="team__item__image">
            <img src="./image/jpg/team/team-5.jpg" alt="team-img">
            <div class="social-profile">
              <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team__item__meta-info">
            <h4 class="team__item__meta-info__name">Mia Rodriguez</h4>
            <p class="team__item__meta-info__designations">Senior Instructor</p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="team__item">
          <div class="team__item__image">
            <img src="./image/jpg/team/team-6.jpg" alt="team-img">
            <div class="social-profile">
              <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team__item__meta-info">
            <h4 class="team__item__meta-info__name">Charlotte Kim</h4>
            <p class="team__item__meta-info__designations">UI/UX Expert</p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="team__item">
          <div class="team__item__image">
            <img src="./image/jpg/team/team-7.jpg" alt="team-img">
            <div class="social-profile">
              <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team__item__meta-info">
            <h4 class="team__item__meta-info__name">Harper Bennett</h4>
            <p class="team__item__meta-info__designations">Student Advisor</p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="team__item">
          <div class="team__item__image">
            <img src="./image/jpg/team/team-8.jpg" alt="team-img">
            <div class="social-profile">
              <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team__item__meta-info">
            <h4 class="team__item__meta-info__name">Evelyn Scott</h4>
            <p class="team__item__meta-info__designations">Community Manager</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "pages/Common/Footer.njk" %}
{% endblock %}