@use "../abstract" as *;
.testimonials {
}
.t-carousel {
  max-width: 770px;
  margin: 0 auto;
  &__slides {
    text-align: center;
  }
  &__quote-badge {
    background: $primary;
    color: $white;
    box-shadow: 0 6px 20px rgba($primary, 0.35);
  }

  &__title {
    color: $heading-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
  }

  &__desc {
    color: $regent-gray;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
  }

  &__person {
    color: $downriver;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  &__role {
    color: $regent-gray;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    letter-spacing: 0.45px;
  }
  // &__thumbs{
  //   // width: fit-content;
  //   margin: 0 auto;
  //   margin-top: 20px;
  // }
  // &__thumb.slick-slide {
  //   opacity: 0.55;
  //   transition: 0.4s;
  // }
  // &__thumb.slick-center {
  //   opacity: 1;
  // }
  // Base: others
  &__thumbs {
    width: 70%;
    margin: 0 auto;
    padding: 0 40px
  }
  &__thumb{
    margin: 20px 10px;
    border-radius: 50%;
    &.slick-center{
      transition: 0.4s;
      transform: scale(1.2);
      .t-carousel__avatar{
        border: 5px solid #FFF;
        background-color: #fff;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
      }

    }
  }

  &__avatar {
    border: 5px solid $white;
    border-radius: 50%;
    background-color: $white;
    display: block;
    // margin: 20px auto;
    transition: 0.4s;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
      overflow: hidden;
    }
  }
  .slick-arrow{
    background-color: transparent;
    color: $secondary;
    border: 1px solid #D7E0E7;
    border-radius: 50%;
    &::before{
      color: #D7E0E7;
    }
  }
}
