@use "../../abstract" as *;
// Progress Bar

.ks-mission-progress {
  .progress {
    background: #eef2f6;
    border-radius: 50px;
    overflow: hidden;
  }

  .progress-bar {
    width: 0;
    height: 10px;
    border-radius: 50px;
    transition: width 1.2s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    .progress-bar {
      transition: none;
    }
  }

  &__single {
    &:nth-child(1n+2) .progress-bar {
      background-color: $primary;
    }
    &:nth-child(2n+1) .progress-bar {
      background-color: #3b82f6;
    }
    &:nth-child(3n+1) .progress-bar {
      background-color: $koromiko ;
    }
  }
}

.about-block {
  &__img {
    position: relative;
    z-index: 1;
    margin-right: 10%;
    .about-img {
      width: 100%;
      padding: 14px;
      box-shadow: 0 20px 52px 0 rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 0;
      overflow: hidden;
      background-color: #fff;
    }
    .shape-1 {
      position: absolute;
      top: -2%;
      left: -2%;
      z-index: 1;
    }
    .shape-2 {
      position: absolute;
      top: -7%;
      right: -36px;
      z-index: -1;
    }
    .shape-3 {
      position: absolute;
      bottom: 0%;
      right: -10%;
      z-index: 1;
    }
  }
  .mission-block{
    &__item{
        .section-title-block{
            &__text{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
  }
}

.our-activities-block-style-2{
    position: relative;
    z-index: 1;
    .shape-1{
        width: 14.6%;
        top: 10%;
    }
    .shape-2{
        top: 8%;
        right: 5%;
        width: 12%;
    }
    &::before{
        content: "";
         background: linear-gradient(180deg, #343742 0%, #090B18 100%);
         width: 100%;
         height: 100%;
         position: absolute;
         left: 0;
         top: 0;
         z-index: -1;
         @media (min-width: 992px) {
           height: 80%;
         }
    }
    .activity-card-grid{
      @media (min-width: 992px) {
        margin-bottom: -100px;
      }
    }
}