<div class="about-section pt-100 pb-100">
  <div class="container">
    <div class="row justify-content-center justify-content-md-between align-items-lg-center text-center text-md-start">
      <div class="col-xs-11 col-sm-10 col-md-6 col-lg-7">
        <!-- Section Title Block -->
        <div class="section-title-block">
          <h4 class="sub_title"><span class="text-secondary">About Kindergarten</h4>
          <h2 class="title">Welcome to The Learning Kid-School.</h2>
          <p>
            Proactively synthesize alternative services is a no whereas stand-alone methodologies. Rapidiously benchmark
            a process-centric collaboration and idea-sharing withmake a one-to-one ideas.Synergistically reinvent
            cooperative scenarios via front-end technologies.</p>
          <p>Collaboratively synthesize user-centric markets vis-a-vis premium resources. Objectively conceptualize 2.0
            users for e-business products.
          </p>
        </div>
        <div class="couters">
          <div class="row g-4">
            <div class="col-6">
              <div class="counters text-center text-md-start d-flex gap-3">
                <div class="counters__icon">
                  <img src="./image/svg/feather-users.svg" alt="">
                </div>
                <div class="counters__content">
                <h4 class="counters__content__number text-secondary"><span class="counter">20</span>+</h4>
                <p class="counters__content__text">Teacher Available</p>
              </div>
              </div>
            </div>
            <div class="col-6">
              <div class="counters text-center text-md-start d-flex gap-3">
                <div class="counters__icon">
                  <img src="./image/svg/book.svg" alt="">
                </div>
                <div class="counters__content">
                <h4 class="counters__content__number text-secondary"><span class="counter">500</span>+</h4>
                <p class="counters__content__text">Classes Completed</p>
              </div>
              </div>
            </div>
            <div class="col-6">
              <div class="counters text-center text-md-start d-flex gap-3">
                <div class="counters__icon">
                  <img src="./image/svg/home.svg" alt="">
                </div>
                <div class="counters__content">
                <h4 class="counters__content__number text-secondary"><span class="counter">30</span>+</h4>
                <p class="counters__content__text">Available Classroom</p>
              </div>
              </div>
            </div>
            <div class="col-6">
              <div class="counters text-center text-md-start d-flex gap-3">
                <div class="counters__icon">
                  <img src="./image/svg/feather-users-2.svg" alt="">
                </div>
                <div class="counters__content">
                <h4 class="counters__content__number text-secondary"><span class="counter">290</span>+</h4>
                <p class="counters__content__text">Students Currently</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-8 col-md-6 col-lg-5">
        <div class="about-section__image position-relative d-inline-block">
          <img class="w-100" src="./image/jpg/home-1/about-img-1.jpg" alt="">
          <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-btn bg-secondary text-white px-5 py-3 position-absolute start-0 bottom-0 mb-4"><img class="me-2" src="./image/svg/mdi-play-speed.svg" alt="">Play Video</a>
        </div>
      </div>
    </div>
  </div>
</div>