<div class="blog-block pt-100 pb-100 bg-polar position-relative">
  <!-- Shape 1 -->
  <div class="shape-1">
    <img src="/image/png/welcome.png" alt="">
  </div>
  <!-- Shape 4 -->
  <div class="shape-2">
    <img src="/image/svg/shape.svg" alt="">
  </div>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xs-11 col-sm-10 col-md-6 col-lg-7">
        <!-- Section Title Block -->
        <div class="section-title-block">
          <h2 class="title">Recent News</h2>
          <p>Rapidiously productivate strategic sources whereas pandemic communities.</p>
        </div>
      </div>
    </div>
    <div class="row g-4 justify-content-center">
      <!-- Single Blog -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="blog-card">
          <div class="blog-card__image">
            <img class="w-100" src="./image/jpg/blog/blog-1.jpg" alt="">
          </div>
          <div class="blog-card__content">
            <h4 class="blog-card__content__title"><a href="single-blog.html">Basic Drawing & Paint Learning Class.</a></h4>
            <div class="blog-card__content__text">
              <p>Professionally you abuild just in time market after multidisciplinary.</p>
            </div>
            <a href="#" class="btn-link px-0 pb-1 border-bottom line-height-2">Read More</a>
          </div>
          <div class="blog-card__meta-bottom d-flex justify-content-between align-items-center mt-4 py-2 px-3 border-top">
            <div class="blog-meta-bottom__date"><i class="far fa-clock"></i> <span>25 Dec, 2023</span></div>
            <div class="blog-meta-bottom__comments"><i class="far fa-comment"></i><span>Admin</span></div>
          </div>
        </div>
      </div>
      <!-- End Single Blog -->
      <!-- Single Blog -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="blog-card">
          <div class="blog-card__image">
            <img class="w-100" src="./image/jpg/blog/blog-2.jpg" alt="">
          </div>
          <div class="blog-card__content">
            <h4 class="blog-card__content__title"><a href="single-blog.html">School Is Crucial To Your Business. Learn Why!</a></h4>
            <div class="blog-card__content__text">
              <p>Professionally you abuild just in time market after multidisciplinary.</p>
            </div>
            <a href="#" class="btn-link px-0 pb-1 border-bottom line-height-2">Read More</a>
          </div>
          <div class="blog-card__meta-bottom d-flex justify-content-between align-items-center mt-4 py-2 px-3 border-top">
            <div class="blog-meta-bottom__date"><i class="far fa-clock"></i> <span>25 Dec, 2023</span></div>
            <div class="blog-meta-bottom__comments"><i class="far fa-comment"></i><span>Admin</span></div>
          </div>
        </div>
      </div>
      <!-- End Single Blog -->
      <!-- Single Blog -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="blog-card">
          <div class="blog-card__image">
            <img class="w-100" src="./image/jpg/blog/blog-3.jpg" alt="">
          </div>
          <div class="blog-card__content">
            <h4 class="blog-card__content__title"><a href="single-blog.html">The Secret of Children Knowledge.</a></h4>
            <div class="blog-card__content__text">
              <p>Professionally you abuild just in time market after multidisciplinary.</p>
            </div>
            <a href="#" class="btn-link px-0 pb-1 border-bottom line-height-2">Read More</a>
          </div>
          <div class="blog-card__meta-bottom d-flex justify-content-between align-items-center mt-4 py-2 px-3 border-top">
            <div class="blog-meta-bottom__date"><i class="far fa-clock"></i> <span>25 Dec, 2023</span></div>
            <div class="blog-meta-bottom__comments"><i class="far fa-comment"></i><span>Admin</span></div>
          </div>
        </div>
      </div>
      <!-- End Single Blog -->
    </div>
    <div class="button-wrap text-center mt-5">
      <p>Want to browse our News?<a href="#" class="btn-link text-secondary text-underline ms-2 fw-medium">See all News</a></p>
    </div>
  </div>
</div>