<div class="feature-coruse-block pt-100 pb-100 bg-polar">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xs-11 col-sm-10 col-md-6 col-lg-7">
        <!-- Section Title Block -->
        <div class="section-title-block">
          <h4 class="pre_heading"><span class="text-secondary">Features Course</h4>
          <h2 class="title">Welcome to The Learning Kid-School.</h2>
          <p>Rapidiously productivate strategic sources whereas pandemic communities.</p>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <!-- Single Feature Course -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature-course-card">
          <div class="feature-course-card__image">
            <img class="w-100" src="./image/jpg/home-1/feature-course-1.jpg" alt="">
          </div>
          <div class="feature-course-card__content">
            <div class="feature-course-card__content__fee d-inline-flex align-content-center text-center py-1 px-3">Price: <span> $50.00</span></div>
            <h4 class="feature-course-card__content__title">Basic Drawing & Paint Learning Class.</h4>
            <div class="feature-course-card__details feature-course__details d-flex justify-content-between mt-4 mb-4">
              <div class="feature-course-card__details__classes d-flex gap-2"> 
                <div class="feature-course__details__icon"><img src="./image/svg/book.svg" alt=""></div> 
                <div class="feature-course__details__text">20 <span>Classes</span></div>
              </div>
              <div class="feature-course-card__details__duration d-flex gap-2"> 
                <div class="feature-course__details__icon"><img src="./image/svg/feather-users.svg" alt=""></div> 
                <div class="feature-course__details__text">24-36 <span>Months</span></div>
              </div>
            </div>
            <a href="#" class="btn btn-accent w-100">Learn More About Course</a>
          </div>
        </div>
      </div>
      <!-- End Single Feature Course -->
      <!-- Single Feature Course -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature-course-card">
          <div class="feature-course-card__image">
            <img class="w-100" src="./image/jpg/home-1/feature-course-2.jpg" alt="">
          </div>
          <div class="feature-course-card__content">
            <div class="feature-course-card__content__fee d-inline-flex align-content-center text-center py-1 px-3">Price: <span> $50.00</span></div>
            <h4 class="feature-course-card__content__title">Basic Drawing & Paint Learning Class.</h4>
            <div class="feature-course-card__details feature-course__details d-flex justify-content-between mt-4 mb-4">
              <div class="feature-course-card__details__classes d-flex gap-2"> 
                <div class="feature-course__details__icon"><img src="./image/svg/book.svg" alt=""></div> 
                <div class="feature-course__details__text">20 <span>Classes</span></div>
              </div>
              <div class="feature-course-card__details__duration d-flex gap-2"> 
                <div class="feature-course__details__icon"><img src="./image/svg/feather-users.svg" alt=""></div> 
                <div class="feature-course__details__text">24-36 <span>Months</span></div>
              </div>
            </div>
            <a href="#" class="btn btn-accent w-100">Learn More About Course</a>
          </div>
        </div>
      </div>
      <!-- End Single Feature Course -->
      <!-- Single Feature Course -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature-course-card">
          <div class="feature-course-card__image">
            <img class="w-100" src="./image/jpg/home-1/feature-course-3.jpg" alt="">
          </div>
          <div class="feature-course-card__content">
            <div class="feature-course-card__content__fee d-inline-flex align-content-center text-center py-1 px-3">Price: <span> $50.00</span></div>
            <h4 class="feature-course-card__content__title">Basic Drawing & Paint Learning Class.</h4>
            <div class="feature-course-card__details feature-course__details d-flex justify-content-between mt-4 mb-4">
              <div class="feature-course-card__details__classes d-flex gap-2"> 
                <div class="feature-course__details__icon"><img src="./image/svg/book.svg" alt=""></div> 
                <div class="feature-course__details__text">20 <span>Classes</span></div>
              </div>
              <div class="feature-course-card__details__duration d-flex gap-2"> 
                <div class="feature-course__details__icon"><img src="./image/svg/feather-users.svg" alt=""></div> 
                <div class="feature-course__details__text">24-36 <span>Months</span></div>
              </div>
            </div>
            <a href="#" class="btn btn-accent w-100">Learn More About Course</a>
          </div>
        </div>
      </div>
      <!-- End Single Feature Course -->
    </div>
    <div class="button-wrap text-center mt-5">
      <p>Want to browse our all courses?<a href="#" class="btn-link text-secondary text-underline ms-2 fw-medium">See all Course</a></p>
      
    </div>
  </div>
</div>