<div class="hero-area bg-gradient-1" style="background-image: url(./image/svg/home-1/hero-bg.svg); background-position: bottom; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row align-items-md-center">
      <div class="col-lg-7">
        <div class="hero-content text-center text-lg-start">
          <h4 class="pre_heading">The Most Loved</h4>
          <h1 class="title">Playschool in Dhaka.</h1>
          <p>Apart from following the highest quality standards.</p>
          <div class="button-shape-block">
            <div class="hero-area__button">
              <a href="#" class="btn btn-primary">Explore All Course</a>
            </div>
          </div>
          </div>
      </div>
      <div class="col-lg-5 ms-lg-auto ms-md-0">
        <div class="hero-area__image">
          <img class="w-100" src="./image/png/home-1/hero-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>