<div class="our-activities-block pt-100 pb-100 position-relative">
    <!-- Shape 1 -->
  <div class="shape-1">
    <img src="./image/svg/home-1/activity-shape-1.svg" alt="">
  </div>
    <!-- Shape 1 -->
  <div class="shape-2">
    <img src="./image/png/home-1/activity-shape-dots.png" alt="">
  </div>
    <!-- Shape 1 -->
  <div class="shape-3">
    <img src="./image/svg/doll-2.svg" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <!-- Section Title Block -->
        <div class="section-title-block">
          <h2 class="title">Our Activity</h2>
          <h4 class="sub_heading">Rapidiously productivate strategic sources communities.</h4>
          <p>Completely expedite best-of-breed customer service vis-a-vis quality process improvements. Intrinsicly mesh
            fully tested interfaces for team driven solutions. Uniquely procrastinate visionary niches rather than
            one-to-one methodologies.</p>
        </div>
        <div class="activity-slider">
          <div class="activity-sliders__item">
            <img src="./image/jpg/home-1/activity-img.jpg" alt="">
          </div>
          <div class="activity-sliders__item">
            <img src="./image/jpg/home-1/activity-img.jpg" alt="">
          </div>
          <div class="activity-sliders__item">
            <img src="./image/jpg/home-1/activity-img.jpg" alt="">
          </div>
          <div class="activity-sliders__item">
            <img src="./image/jpg/home-1/activity-img.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="activity-card-grid">
          <div class="row">
            <!-- Single Activity Card -->
            <div class="col-md-6">
              <div class="card activity-card-grid__item">
                <div class="activity-card-grid__item__icon">
                  <img src="./image/svg/kite-2.svg" alt="">
                </div>
                <h4 class="activity-card-grid__item__title">Learning & Fun</h4>
                <p class="activity-card-grid__item__description">Monotonectally redefine turnkey products before
                  client-based leadership skills.</p>
              </div>
            </div>
            <!-- End Single Activity Card -->
            <!-- Single Activity Card -->
            <div class="col-md-6">
              <div class="card activity-card-grid__item">
                <div class="activity-card-grid__item__icon">
                  <img src="./image/svg/plate.svg" alt="">
                </div>
                <h4 class="activity-card-grid__item__title">Healthy Meals</h4>
                <p class="activity-card-grid__item__description">Monotonectally redefine turnkey products before
                  client-based leadership skills.</p>
              </div>
            </div>
            <!-- End Single Activity Card -->
            <!-- Single Activity Card -->
            <div class="col-md-6">
              <div class="card activity-card-grid__item">
                <div class="activity-card-grid__item__icon">
                  <img src="./image/svg/confetti.svg" alt="">
                </div>
                <h4 class="activity-card-grid__item__title">Friendly Place</h4>
                <p class="activity-card-grid__item__description">Monotonectally redefine turnkey products before
                  client-based leadership skills.</p>
              </div>
            </div>
            <!-- End Single Activity Card -->
            <!-- Single Activity Card -->
            <div class="col-md-6">
              <div class="card activity-card-grid__item">
                <div class="activity-card-grid__item__icon">
                  <img src="./image/svg/safe.svg" alt="">
                </div>
                <h4 class="activity-card-grid__item__title">Children Safety</h4>
                <p class="activity-card-grid__item__description">Monotonectally redefine turnkey products before
                  client-based leadership skills.</p>
              </div>
            </div>
            <!-- End Single Activity Card -->
          </div>
        </div>
      </div>
    </div>


  </div>
</div>