<div class="cta-block cta-block--style-2 position-relative">
    <!-- Shape 1 -->
  <div class="shape-1">
    <img src="/image/svg/betterfly.svg" alt="">
  </div>
    <!-- Shape 1 -->
  <div class="shape-2">
    <img src="/image/svg/shape-yellow.svg" alt="">
  </div>
  <div class="container">
    <div class="row justify-content-center text-center pb-100">
      <div class="col-xs-11 col-sm-10 col-md-10">
        <!-- Section Title Block -->
        <div class="section-title-block">
          <h2 class="title">The Learning Kid-School.</h2>
          <p>Proactively synthesize alternative services is a no whereas stand-alone methodologies. </p>
          <a class="btn btn-primary" href="#">Get Admisson Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-bottom">
    <img class="w-100" src="./image/png/home-1/cta-bottom-shape.png" alt="">
  </div>
</div>