<div class="our-activities-block our-activities-block-style-2 pt-100 pb-100 position-relative">
  <!-- Shape 1 -->
  <div class="shape-1">
    <img src="/image/png/ballon-sky.png" alt="">
  </div>
  <!-- Shape 2 -->
  <div class="shape-2">
    <img src="/image/png/ballon-sky-2.png" alt="">
  </div>
  <div class="container">
    <!-- Section Title Block -->
    <div class="section-title-block text-center dark-mode-texts">
      <h2 class="title">What We Offer</h2>
      <p>Rapidiously productivate strategic sources whereas communities.</p>
    </div>
    <div class="activity-card-grid">
      <div class="row">
        <!-- Single Activity Card -->
        <div class="col-sm-6 col-lg-3">
          <div class="card activity-card-grid__item">
            <div class="activity-card-grid__item__icon">
              <img src="./image/svg/kite-2.svg" alt="">
            </div>
            <h4 class="activity-card-grid__item__title">Learning & Fun</h4>
            <p class="activity-card-grid__item__description">Monotonectally redefine turnkey products before
              client-based leadership skills.</p>
          </div>
        </div>
        <!-- End Single Activity Card -->
        <!-- Single Activity Card -->
        <div class="col-sm-6 col-lg-3">
          <div class="card activity-card-grid__item">
            <div class="activity-card-grid__item__icon">
              <img src="./image/svg/plate.svg" alt="">
            </div>
            <h4 class="activity-card-grid__item__title">Healthy Meals</h4>
            <p class="activity-card-grid__item__description">Monotonectally redefine turnkey products before
              client-based leadership skills.</p>
          </div>
        </div>
        <!-- End Single Activity Card -->
        <!-- Single Activity Card -->
        <div class="col-sm-6 col-lg-3">
          <div class="card activity-card-grid__item">
            <div class="activity-card-grid__item__icon">
              <img src="./image/svg/confetti.svg" alt="">
            </div>
            <h4 class="activity-card-grid__item__title">Friendly Place</h4>
            <p class="activity-card-grid__item__description">Monotonectally redefine turnkey products before
              client-based leadership skills.</p>
          </div>
        </div>
        <!-- End Single Activity Card -->
        <!-- Single Activity Card -->
        <div class="col-sm-6 col-lg-3">
          <div class="card activity-card-grid__item">
            <div class="activity-card-grid__item__icon">
              <img src="./image/svg/safe.svg" alt="">
            </div>
            <h4 class="activity-card-grid__item__title">Children Safety</h4>
            <p class="activity-card-grid__item__description">Monotonectally redefine turnkey products before
              client-based leadership skills.</p>
          </div>
        </div>
        <!-- End Single Activity Card -->
      </div>
    </div>

  </div>
</div>