<div class="team-block pt-100 pb-100 position-relative">
  <!-- Shape 1 -->
  <div class="shape-1">
    <img src="/image/svg/kite.svg" alt="">
  </div>
  <!-- Shape 2 -->
  <div class="shape-2">
    <img src="/image/svg/balloon-2.svg" alt="">
  </div>
  <!-- Shape 2 -->
  <div class="shape-3">
    <img src="/image/png/dots-2.png" alt="">
  </div>
  <div class="container">
    <!-- Section Title Block -->
    <div class="section-title-block text-center">
      <h2 class="title">Board of Director</h2>
      <p>Rapidiously productivate strategic sources communities.</p>
    </div>
    <div class="team-member">
      <div class="row">
        <!-- Single Activity Card -->
        <div class="col-sm-6 col-lg-3">
          <div class="card team-member__item">
            <div class="team-member__item__img">
              <img src="./image/jpg/team/team-1.jpg" alt="">
            </div>
            <div class="team-member__item__meta-info">
              <h4 class="team-member__item__name">Regina Cooper</h4>
              <p class="team-member__item__designation">Director of School</p>
            </div>
          </div>
        </div>
        <!-- End Single Activity Card -->
        <!-- Single Activity Card -->
        <div class="col-sm-6 col-lg-3">
          <div class="card team-member__item">
            <div class="team-member__item__img">
              <img src="./image/jpg/team/team-2.jpg" alt="">
            </div>
            <div class="team-member__item__meta-info">
              <h4 class="team-member__item__name">Lee Flores</h4>
              <p class="team-member__item__designation">Director of School</p>
            </div>
          </div>
        </div>
        <!-- End Single Activity Card -->
        <!-- Single Activity Card -->
        <div class="col-sm-6 col-lg-3">
          <div class="card team-member__item">
            <div class="team-member__item__img">
              <img src="./image/jpg/team/team-3.jpg" alt="">
            </div>
            <div class="team-member__item__meta-info">
              <h4 class="team-member__item__name">Wade Steward</h4>
              <p class="team-member__item__designation">Director of School</p>
            </div>
          </div>
        </div>
        <!-- End Single Activity Card -->
        <!-- Single Activity Card -->
        <div class="col-sm-6 col-lg-3">
          <div class="card team-member__item">
            <div class="team-member__item__img">
              <img src="./image/jpg/team/team-4.jpg" alt="">
            </div>
            <div class="team-member__item__meta-info">
              <h4 class="team-member__item__name">Victoria Henry</h4>
              <p class="team-member__item__designation">Director of School</p>
            </div>
          </div>
        </div>
        <!-- End Single Activity Card -->
      </div>
    </div>

  </div>
</div>