<nav class="pagination" aria-label="Pagination">
  <ul class="pagination__list">
    <li class="page-item"><a class="page-link" href="?page=1" aria-label="Go to page 1">1</a></li>
    <li class="page-item is-current" aria-current="page">
      <a class="page-link" href="?page=2" tabindex="-1">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
    <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
    <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
    <li class="page-item"><a class="page-link" href="?page=6">6</a></li>

    <li class="page-item page-next">
      <a class="page-link" href="?page=3" aria-label="Next page">
        <span aria-hidden="true">›</span>
      </a>
    </li>
  </ul>
</nav>
