@use "../../abstract" as *;
.cta-block{
    padding-top: 150px;
    padding-bottom: 350px;
    min-height: 550px;
    z-index: 1;
    padding-bottom: 60px;
    @media (min-width: 767px){
      padding-bottom: 80px;
      min-height: 600px;
    }
    @media (min-width: 1200px){
      padding-bottom:100px;
      min-height: 700px;
    }
    @media (min-width: 1600px){
      padding-bottom: 350px;
    }
    .section-title-block{
        margin-bottom: 0;
        @media (min-width:768px){
            margin-bottom: 20px;
        }
        @media (min-width: 992px) {
            margin-bottom: 30px;
        }
        .title{
            @media (min-width: 992px) {
                font-size: 60px;
            }
        }
   
         p{
             @media (min-width: 992px) {
                font-size: 22px;
            }
        }
    }
       .shape-1{
        position: absolute;
        top: 5%;
        left: 2%;
        z-index:1;
        width: 8.5%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .shape-2{
        position: absolute;
        top: 5%;
        right: 2%;
        z-index:1;
        width: 12.1%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .shape-bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
        img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &--style-2{
        padding-top: 0;
        padding-bottom: 150px;
        align-content: center;
        min-height: 550px;
        .shape-1{
            max-width: 32px;
            top: 40%;
        }
        .shape-2{
            max-width: 33px;
            top: 40%;
        }
    }
    .btn{
        font-size: 18px;
    }
}