@use "../../abstract" as *;

.feature-course-filters .btn {
  border-radius: 50px;
  padding: 6px 18px;
  margin: 4px;
  transition: all 0.25s ease-in-out;
}
.feature-course-filters .btn.active,
.feature-course-filters .btn:hover {
  background-color: #1d85e8;
  color: #fff;
}

.feature-coruse-block {
  z-index: 1;
  .shape-1 {
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 1;
    width: 8.5%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .shape-2 {
    position: absolute;
    top: 5%;
    right: 0;
    z-index: 1;
    width: 12.1%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .shape-3 {
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: 1;
    width: 8%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .shape-4 {
    position: absolute;
    bottom: 5%;
    right: 0;
    z-index: 1;
    width: 6.7%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

/* feature-course-card */
.feature-course-card {
  position: relative;
  z-index: 1;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 20px 64px 0 rgba(0, 0, 0, 0.05);
  &__image {
    width: 100%;
    height: 270px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    padding: 24px 24px;
    position: relative;
    z-index: 1;
    &__fee {
      background-color: $koromiko;
      position: absolute;
      top: -20px;
      left: 24px;
      color: $heading-color;
      border-radius: 4px;
      span {
        font-weight: 600;
        margin-left: 7px;
      }
    }
    &__title,
    &__title a {
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      color: $heading-color;
      transition: 0.4s;
    }
    &__title a:hover {
      color: $primary;
    }
    .feature-course__details {
      position: relative;
      z-index: 1;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 30px;
        background-color: $geyser;
        // background-color: red;
      }
      &__classes,
      &__duration {
        display: flex;
      }
      &__icon {
        width: 34px;
        height: 34px;
        margin-top: 0px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      
      &__text {
        font-size: 24px;
        font-weight: 700;
        color: $heading-color;
        margin-bottom: 0;
        line-height: 1.1;
        span {
          display: block;
          font-weight: 400;
          color: $regent-gray;
          font-size: 16px;
          margin-top: 5px;
        }
      }
    }
  }
}

// Single Course
.course-sidebar {
  // @media (min-width: 992px) {
  //     padding-left: 5%;
  // }
  .course__info__widget {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    @media (min-width: 481px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 992px) {
      grid-template-columns: 1fr;
    }
    &__item {
      &__icon {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: flex;
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
.course {
  padding-top: 50px;
  padding-bottom: 50px;
  @media (min-width: 992px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__thumbnails {
    img {
      width: 100%;
      height: 220px;
      overflow: hidden;
      object-fit: cover;
      @media (min-width: 768px) {
        height: 400px;
      }
      @media (min-width: 992px) {
        height: 500px;
      }
    }
  }
  &__bottom {
    background-color: #092c4c;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 992px) {
      padding-left: 20px;
      padding-right: 40px;
    }
  }
  &__details {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 20px;
     @media (min-width: 576px) {
      margin-bottom: 0;
     }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 30px;
      background-color: #536476;
      @media (min-width: 768px) {
        display: block;
      }
    }
    &__classes,
    &__duration {
      color: #fff;
      @media (min-width: 576px) {
        padding: 5px 20px;
      }
      @media (min-width: 992px) {
        display: flex;
      }
    }
    &__icon {
      flex: 0 0 30px;
      width: 30px;
      height: 30px;
      margin-top: 0px;
      @media (min-width: 992px) {
        flex: 0 0 34px;
        width: 34px;
        height: 34px;
      }
      svg {
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__text {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0;
      margin-left: 15px;
      line-height: 1.1;
      @media (min-width: 992px) {
        font-size: 24px;
      }
      span {
        display: block;
        font-weight: 400;
        font-size: 16px;
        margin-top: 5px;
      }
    }
  }
  &__content {
    &__fee {
      background-color: $koromiko;
      color: $heading-color;
      border-radius: 4px;
      font-size: 18px;
      @media (min-width: 992px) {
        font-size: 22px;
      }
      span {
        font-weight: 600;
        margin-left: 7px;
      }
    }
  }
}

.feature-courses {
  .section-title{
    font-size: 18px;
    margin-bottom: 30px;
    @media (min-width: 992px) {
      font-size: 24px;
    }
  }
  &__single {
    &__img {
      width: 100%;
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }
    &__heading {
      font-family: "Open Sans";
      font-size: 17px;
      font-weight: 400;
      line-height: 29px;
    }
  }
}
// Widget Styles
.course__info__widget {
  &__item {
    &__content {
      &__text {
        font-size: 17px;
        font-weight: 400;
        line-height: 29px;
      }
      &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 10px;
      }
    }
  }
}
.course__widget {
  transition: 0.4s;
  &__content {
    &__heading {
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      transition: 0.4s;
      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #d7e0e7;
  }
}
